<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.melissaford.bonus"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Bonus</name>

    <description>
        Bonus is a fun game where you tap dots.
    </description>

    <author href="http://scratch.mit.edu/users/happyland440" email="[Your Email]">
        
    </author>

</widget>
